

.navbar.navbar-expand-sm
{


    font-weight: 500;
     
    position: relative;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.nav-item:hover{
    background-color: #efbc93;
    border-radius: 5px;
}


.nav-item{
    display: flex;
    margin-right: 20px;
}
.mainDiv{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
     margin-bottom: 20px;
}
